POSTGRES_CONTAINER_NAME=hw08-postgres

POSTGRES_USER=hw_6_user
POSTGRES_PASSWORD=hw_6_password
POSTGRES_DB=hw08

POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://hw_6_user:hw_6_password@127.0.0.1:5432/hw08

APP_CONTAINER_NAME=hw08-app-container
APP_HOST=127.0.0.1
APP_PORT=8000